.card {
  border-radius: 10px;
  background: linear-gradient(75deg, lightblue 0%, antiquewhite 100%);
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 0 15px 2px rgb(54, 87, 98);
    background: linear-gradient(75deg, antiquewhite 0%, lightblue 100%);
  }
  a {
    height: 100%;
    width: 300px;
    display: block;
    text-decoration: none;
    .imgContainer {
      overflow: hidden;
      height: auto;
      width: 100%;
      border-radius: 10px;
      transition: all 0.2s ease;
      img {
        display: block;
        height: 100%;
        width: 100%;
        aspect-ratio: 7/4;
        transition: all 0.2s ease;
      }
    }
    .detailsContainer {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      h3 {
        text-align: center;
        font-size: 1.6rem;
        color: rgb(54, 87, 98);
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        color: rgb(54, 87, 98);
        p {
          display: flex;
          align-items: center;
          span {
            color: rgb(54, 87, 98);
          }
        }
      }
    }
  }
}
.card:hover > a > .imgContainer img {
  transform: scale(1.1);
  filter: brightness(0.75);
}
.card:hover > a > .imgContainer {
  border-radius: 10px 10px 0 0;
}
