.header {
  height: 10vh;
  text-transform: capitalize;
  display: flex;
  background: linear-gradient(45deg, rgb(173, 216, 230), rgb(54, 87, 98));
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 2;
  > .logoContainer {
    text-decoration: none;
    background: linear-gradient(45deg, rgb(255, 153, 0), rgb(218, 42, 174));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    h1 {
      font-family: "Roboto";
      font-size: 2.3rem;
      font-weight: 900;
      text-align: center;
    }
  }
  > .searchContainer {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    > input {
      background-color: transparent;
      font-size: 1.35rem;
      width: 100%;
      border: 0;
      padding-inline: 0.5rem;
      &::placeholder {
        color: rgb(54, 87, 98);
      }
    }
    > button {
      color: rgb(54, 87, 98);
      font-size: 1.35rem;
      background-color: transparent;
      height: 30px;
      padding-inline: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  > .linkContainer {
    display: flex;
    gap: 0.7rem;
    > span {
      color: lightblue;
      font-size: 1.5rem;
      font-weight: 500;
      display: inline-block;
      position: relative;
      ul {
        list-style: none;
        position: absolute;
        width: 10rem;
        border-radius: 8px;
        overflow: hidden;
        li {
          a {
            background-color: lightblue;
            display: block;
            padding: 0.7rem;
            color: rgb(54, 87, 98);
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 400;
            &:hover {
              cursor: pointer;
              background-color: rgb(54, 87, 98);
              color: lightblue;
            }
          }
        }
      }
      > a {
        color: lightblue;
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}
