.posterContainer {
  width: 100%;
  position: relative;
  .posterImg {
    overflow: hidden;
    > img {
      display: block;
      max-height: 80vh;
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center;
      transition: all 0.5s ease;
    }
  }
  a {
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all 0.5s ease;
    .overlay {
      .container {
        display: flex;
        align-items: center;
        gap: 1rem;
        > .itemImg {
          > img {
            display: block;
            width: 35vw;
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          > h1 {
            font-size: 3.5rem;
            font-weight: 600;
            // color: white;
            color: lightblue;
          }
          .runTime {
            p {
              // color: white;
              color: lightblue;

              text-transform: capitalize;
            }
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              background: linear-gradient(
                45deg,
                rgb(255, 153, 0),
                rgb(218, 42, 174)
              );
              background-clip: text;
              -webkit-text-fill-color: transparent;
              display: inline-flex;
              align-items: center;
              span {
                color: rgb(218, 42, 174);
              }
            }
          }
          hr {
            margin: 1rem 0;
            background: linear-gradient(
              45deg,
              rgb(255, 153, 0),
              rgb(218, 42, 174)
            );
            height: 5px;
            width: 100%;
            border-radius: 10px;
            border: none;
          }
          p {
            // color: white;
            color: lightblue;
            span {
              // color: white;
              color: lightblue;

              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}
.posterContainer:hover .posterImg img {
  transform: scale(1.025);
  filter: brightness(0.25);
}
.posterContainer:hover a {
  opacity: 1;
  padding: 4rem 10rem;
}
