.home_card {
  &:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px gray, -1px -1px 5px 0px grey;
  }
  a {
    text-decoration: none;
    .imgContainer {
      width: 300px;
      height: 168.75px;
      border-radius: 10px;
      overflow: hidden;
      img {
        display: block;
        height: 100%;
        width: 100%;
        //   aspect-ratio: 16/13;
        transition: all 0.3s ease;
      }
    }
    .details {
      width: 300px;
      height: 40%;
      padding: 0.5rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      h3 {
        text-align: center;
        font-size: 1.6rem;
        background: linear-gradient(
          65deg,
          rgba(146, 98, 36, 0.418),
          rgba(0, 255, 255, 0.966)
        );
        background-clip: text;
        color: transparent;
      }
      .runTime {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 1.2rem;
        color: rgba(177, 175, 175, 0.5);
        p {
          display: flex;
          align-items: center;
          span {
            color: rgba(0, 255, 255, 0.74);
          }
        }
      }
    }
  }
}
.home_card:hover > a > .imgContainer img {
  transform: scale(1.1);
}
