.moviesContainer {
  background-color: antiquewhite;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  > .moviesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  > aside {
    width: 25%;
    border: 1px solid blue;
  }
}
