.movieDetailContainer {
  .posterDetailsContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .posterContainer {
      width: 100%;
      img {
        display: block;
        height: 90vh;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        filter: brightness(0.25);
      }
    }
    .overlay {
      width: 100%;
      padding: 2rem;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      gap: 1rem;
      .imgContainer {
        display: flex;
        justify-content: end;
        width: 35%;
        img {
          display: block;
          width: 100%;
          max-height: 100%;
          // aspect-ratio: 6/9;
          object-fit: cover;
        }
      }
      .details {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        > .details_header {
          margin: 0.5rem 0;
          color: whitesmoke;
          h2 {
            font-size: 3.3rem;
            font-weight: 600;
            span {
              font-weight: 200;
            }
          }
          > .detail {
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            p {
              font-weight: 300;
            }
          }
        }
        > .tagline {
          color: rgb(173, 172, 172);
          font-size: 2rem;
          font-style: italic;
        }
        > .overview {
          color: whitesmoke;
          font-size: 1.6rem;
          font-weight: 800;
          > p {
            margin: 0.5rem 0;
            font-size: 1.4rem;
            font-weight: 300;
          }
        }
        > .btnContainer {
          color: white;
          display: flex;
          justify-content: space-around;
          > span {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            padding: 0.5rem;
            border-radius: 10px;
            background-color: rgb(5, 15, 35);
            border: 1px solid white;
            &:hover {
              background-color: rgb(6, 27, 68);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  > .extraDetailsContainer {
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    > .scrolls {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      > .castContainer {
        > .sectionName {
          font-size: 2rem;
        }
        > .cardWrapper {
          display: flex;
          overflow-x: auto;
          gap: 1rem;
          padding: 1rem 0.2rem;
          > .castCard {
            border-radius: 10px;
            box-shadow: 1px 1px 5px 0px grey, -1px -1px 5px 0px grey;
            > .imgContainer {
              border-radius: 10px 10px 0 0;
              overflow: hidden;
              width: 225px;
              height: 250px;
              > img {
                display: block;
                width: 100%;
                max-height: 100%;
                object-fit: cover;
              }
            }
            > .about {
              padding: 0.5rem;
              font-size: 1.2rem;
              > .name {
                font-weight: 500;
              }
              > .character {
                color: dimgray;
              }
            }
          }
        }
      }
      > .mediaWrapper {
        > .header {
          display: flex;
          justify-content: unset;
          height: auto;
          padding: 0;
          background: none;
          > .sectionName {
            margin-right: 2rem;
            font-weight: 400;
            font-size: 2rem;
          }
          > span {
            font-size: 1.2rem;
            padding: 0.5rem;
            &:hover {
              cursor: pointer;
            }
          }
          > span.active {
            background-color: black;
            color: white;
            border-radius: 10px;
          }
        }
        > .videoCardWrapper {
          display: flex;
          overflow-x: auto;
          gap: 0.5rem;
          padding: 1rem 0;
        }
      }
      > .recommendedMoviesWrapper {
        > .header {
          background: none;
          padding: 0;
          font-weight: 400;
          font-size: 2rem;
        }
        > .movieCardContainer {
          display: flex;
          overflow-x: auto;
          gap: 1rem;
          padding: 0.2rem;
        }
      }
    }
    aside {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      > p {
        > div {
          margin: 1rem 0;
          text-transform: capitalize;
          font-size: 1.5rem;
          font-weight: 300;
          > span:nth-child(odd) {
            font-size: 1.5;
            font-weight: 500;
            display: block;
          }
          > span {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            > p {
              padding: 0.5rem;
              background-color: rgba(211, 207, 207, 0.479);
              border: 1px solid black;
              border-radius: 10px;
            }
          }
        }
      }
      > .belongingContainer {
        position: relative;
        > .imgContainer {
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          img {
            display: block;
            width: 100%;
            max-height: 100%;
            filter: brightness(0.3);
            transition: all 0.5s ease;
          }
        }
        > .overlay {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          > .title {
            color: white;
            font-size: 2rem;
            text-align: center;
          }
        }
      }
    }
  }
}
