.tvShowsContainer {
  background-color: antiquewhite;
  padding: 1rem;
  display: flex;
  justify-content: center;
  > .tvShowsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
